/* Image style 
#scrollUp {
    background-image: url("../img/top.png");
    bottom: 30px;
    right: 40px;
    width: 18px;    /* Width of image 
    height: 18px;   /* Height of image 
    text-indent: -9999px;
}
*/