/* UNIVERSAL STYLES */
section {scroll-behavior:smooth;}
img {image-rendering:auto;}

/* ==================
 *
 *google fonts 
 *
 *===================*/

/* ==================
 *
 *var section 
 *
 *===================*/
/*****  font size  ******/
/*****  Colors  ******/
/* ==================
 *
 *	Reset Class Css
 *
 *===================*/
body {
  line-height: 24px;
  font-size: 14px;
  color: #24509a;
  font-weight: 400;
  color: #444;
font-family:'Open Sans';
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
p {
  margin: 0px;
}
h1,h2,h3,h4,h5,h6,p {
font-family:'Open Sans';
  margin: 0px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
  
}
  
/* ==================
 *
 *  Global Class 
 *
 *===================*/
.btn {
  font-size: 15px;
  font-weight: 300;
  padding: 12px 32px;
  border-radius: 0;
  background-color:#24509A;
  color:#fff;
  border:0px;
}
.btn-assessment {margin-top:30px;}
.btn-get-started {
  font-size:24px;
  padding: 15px 50px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background: transparent;
}
.title {
  text-align: center;
  padding-bottom: 70px;
}
.title h1 {
  color: #333;
  font-size: 25px;
  padding-bottom: 25px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

.title h1:before {
    content: '';
    width: 40px;
    height: 2px;
    background: #24509a;
    position: absolute;
    top: 12px;
    left: -60px;
}
.title h1:after {
    content: '';
    width: 40px;
    height: 2px;
    background: #24509a;
    position: absolute;
    top: 12px;
    right: -60px;
}
.title p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #817C7C;
}
#mixed-items .mix {
  display: none;
}
/* animation keyfrem */
@-webkit-keyframes wiggle {
  from {
    top: 10px;
  }
  to {
    top: 20px;
  }
}
@-moz-keyframes wiggle {
  from {
    top: 10px;
  }
  to {
    top: 20px;
  }
}
@-o-keyframes wiggle {
  from {
    top: 10px;
  }
  to {
    top: 20px;
  }
}
@keyframes wiggle {
  from {
    top: 10px;
  }
  to {
    top: 20px;
  }
}
/* ==================
 *
 *  section Class 
 *
 *===================*/
/* header style */
header {
  padding: 20px 0;
  background: #fff;
}
header .navbar {
  height: auto;
  margin-bottom: 0;
}
.is-sticky #navigation {
  background: #fff;
  z-index: 1000;
  transition: 0.3s;
  width: 100%;
  padding: 0;
}
.navbar-brand {
  padding: 0;
  height: auto;
  margin-top:-5px;
}
.navbar-toggle {
  border-color: #333;
  transition: 0.3s;
}
.navbar-toggle .icon-bar {
  background: #333;
  transition: 0.3s;
}
.navbar-toggle:hover {
  border-color: #24509a;
}
.navbar-toggle:hover .icon-bar {
  background: #24509a;
}
.menu a {
  color: #333;
  position: relative;
  font-size: 16px;
}

.menu a:active{font-weight:bold;color: #24509a;}

.menu a:hover {
  background: transparent;
  color: #24509a;
  font-weight:bold;
  
}
.menu a::before{
     display: block;
    content: attr(nav-label);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
/* =================
   Home page style
   ================= */
#banner {
  background: url('../img/chistlukesbaribanner.jpg');
  background-size: cover;
  padding: 250px 0;
  position: relative;
  background-position:top center;
}
/*#banner:before {
  position: absolute;
  z-index: 99;
  background: rgba(0, 0, 0, 0.73);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: ''; 
} */
#banner .block {
  position: relative;
  z-index: 999;
  color: #fff;
}
#banner .block h1 {
  padding-bottom: 0px;
  font-size: 55px;
  font-weight: 100;
  color: #fff;
}
#banner .block h1 {
  font-size: 3vw;
  line-height: calc(100% + 20px);
  font-weight: 800;
  text-shadow:1px 1px 5px #000000;
}
#banner .block .btn-learn {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 25px;
  margin: 0 7px;
  padding: 10px 22px;
  font-size: 14px;
  transition: 0.3s;
}
#banner .block .btn-learn:hover {
  border-color: #24509a;
  color: #24509a;
}
#banner .block .buttons {
  margin-top: 40px;
}
#banner .block .buttons a:first-child {
  margin-left: 0;
}
#banner .scrolldown {
  position: absolute;
  left: 50%;
  bottom: 18%;
}
#banner .scrolldown .scroll {
  border-radius: 100px;
  width: 25px;
  height: 45px;
  position: absolute;
  left: 50%;
  margin: 0 0 0 -15px;
  display: inline-block;
  border: 1px solid #fff;
  z-index: 99;
}
#banner .scrolldown .scroll:after {
  background: #fff;
  border-radius: 300px;
  width: 4px;
  height: 9px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin: 0 0 0 -2px;
  display: block;
  content: " ";
  -webkit-animation: wiggle 0.5s linear 0s infinite alternate;
  -moz-animation: wiggle 0.5s linear 0s infinite alternate;
  -o-animation: wiggle 0.5s linear 0s infinite alternate;
  animation: wiggle 0.5s linear 0s infinite alternate;
}
#eligibility {
  padding: 100px 0 0;
}
#eligibility .feature-block {
  padding-bottom: 35px;
}
#eligibility .feature-block .icon-box {
  margin-bottom: 24px;
}
#eligibility .feature-block .icon-box i {
  display: inline-block;
  line-height: 1;
  font-size: 60px;
  transition: 0.3s;
  color: #24509a;
}
#eligibility .feature-block h4 {
  font-size: 20px;
  color: #333;
  position: relative;
  text-transform: none;
  margin-bottom: 10px;
  font-weight: 400;
}
#eligibility .feature-block p {
  font-size: 15px;
  color: #888;
  line-height: 24px;
  font-weight: 300;
  margin-top: 20px;
  
}
#eligibility .showcase-img {
  margin-top: 40px;
}
#benefits-checks {
  padding: 80px 0 0px 0;
  background-color:#eff4fd;
  position: relative;
  color:#000;
}
#benefits-checks .block {
  text-align: center;
}
#benefits-checks .block h2 {
  color: #fff;
  padding-bottom: 5px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-family:'Open Sans';
  font-weight: 600;
}
#benefits-checks .block .button {
  position: relative;
  width: 100px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #fff;
  background: #24509a;
  display: block;
  margin: 0 auto;
  text-align: center;
  border-radius: 4px;
  transition: all 300ms linear;
  font-size: 30px;
  margin-top: 10px;
}
#benefits-checks .block .button:hover {
  color: #424242;
  border-color: red;
}
#html5-watermark {
  display: none !important;
}
#testimonial {
  padding: 77px 0;
}
#testimonial .col {
  position: relative;
  padding: 47px 60px;
  overflow: hidden;
}
#testimonial .col-md-6 {
    border: solid #dedede;
    border-width: 0 1px 1px 0;
    padding-bottom: 42px;
}
#testimonial .col-md-6:nth-child(3n) {
      border-right: 0;
}
#testimonial .col-md-6:nth-child(5n) {
      border-right: 0;
      border-bottom: 0;
}
#testimonial .col-md-6:nth-child(4n) {
  border-bottom: 0;
}
#testimonial .media .media-left {
  padding-right: 20px;
}
#testimonial .media .media-left a {
  position: relative;
  display: block;
}
#testimonial .media .media-left a:before {
  content: "\f347";
  position: absolute;
  left: 0;
  top: 0;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  font-family: "Ionicons";
  background: #24509a;
  text-align: center;
  color: #fff;
  font-size: 13px;
  padding-top: 2px;
}
#testimonial .media .media-body {
  padding-top: 5px;
}
#testimonial .media .media-body h4 {
  color: #444;
  text-transform: uppercase;
  margin-bottom: 12px;
}
#testimonial .media .media-body p {
  font-size: 14px;
  font-family:'Open Sans';
  font-style: italic;
  color: #787878;
}
#team {
  padding: 80px 0 180px;
}
#team .block {
  position: relative;
  overflow: hidden;
  border:3px solid transparent;
  -webkit-transition: .4s all;
  -o-transition: .4s all;
  transition: .4s all;
}
#team .block img {
  width: 100%;
  position: relative;
}

#team .block:hover {
  border: 3px solid #24509a;

}
#team .block:hover .team-overlay {
  bottom: 0;
  opacity: 1;
}
#team .team-overlay {
  background: rgba(255, 255, 255, 0.95);
  color: #fff;
  text-align: center;
  padding: 48px 62px;
  position: absolute;
  bottom: -150px;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  
  transition: 0.3s;
}
#team .team-overlay h3,
#team .team-overlay span {
  color: #333;
}
#team .team-overlay span {
  display: block;
  font-size: 13px;
  padding-top: 10px;
}
#team .team-overlay .icon {
  width: 38px;
  height: 38px;
  margin: 0 auto;
  padding: 10px;
  line-height: 1;
  margin-top: 36px;
  margin-bottom: 25px;
  border-radius: 100%;
  display: inline-block;
  background: #24509a;
}
#team .team-overlay .icon i {
  font-size: 18px;
  color: #fff;
}
#team .team-overlay p {
  font-size: 14px;
  line-height: 23px;
  color: #707a8a;
  
}
#team .team-overlay .media {
  margin-top: 10px;
}
#team .team-overlay .media a {
  font-size: 12px;
  color: #fff;
  transition: 0.3s;
  margin: 0 10px;
}
#team .team-overlay .media a:hover {
  color: #24509a;
}
#pricing-table {
  padding: 100px 0 127px;
  background: #24509a;
}
#pricing-table .title h2,
#pricing-table .title p {
  color: #fff;
}
#pricing-table .title h2:before, #pricing-table .title h2:after {
  background: #fff;
}
#pricing-table .block {
  color: #fff;
}
#pricing-table .block ul {
  border: 1px solid #fff;
  padding: 35px 0;
}
#pricing-table .block ul li {
  padding: 10px 0;
}
#pricing-table .block ul li p {
  text-transform: uppercase;
}
#pricing-table .block ul li:first-child {
  margin-bottom: 26px;
}
#pricing-table .block ul li:first-child h4 {
  padding-bottom: 29px;
  font-size: 20px;
}
#pricing-table .block ul li:first-child p {
  font-size: 40px;
  line-height: 1;
  font-weight: 600;
}
#pricing-table .block ul li:first-child p span {
  font-size: 16px;
  font-weight: 300;
}
#pricing-table .block ul li:last-child {
  color: #fff;
  margin-top: 25px;
}
#pricing-table .block .btn-buy {
  border-color: #fff;
  border-radius: 25px;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  font-weight: 600;
  transition: 0.3s;
  background: #fff;
  color: #24509a;
}


#pricing-table .block .btn-buy {
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
}
#pricing-table .block:hover {
  background:rgba(255, 255, 255, 0.17);
}
#pricing-table .block:hover .btn-buy {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
}
#contact-form {
  padding: 100px 0;
  background:#f9f9f9;
}
#contact-form form input,
#contact-form form textarea {
  padding: 24px 20px 0;
  border-color: #24509a;
  border-radius: 5px;
  font-size: 14px;
  color: #97a0af;
  box-shadow: none;
}
#contact-form form input {
  margin-bottom: 15px;
  padding: 24px 27px;
}
#contact-form form textarea {
  margin-bottom: 28px;
  min-height: 172px;
  resize: none;
}
#contact-form form button {
  float: right;
  color: #fff;
  font-size: 16px;
  padding: 17px 43px;
  background: #24509a;
  border-radius: 40px;
  font-weight: 600;
  border-color: transparent;
  transition: 0.3s;
}
#contact-form form button:hover {
  background: none;
  color: #24509a;
  border-color: #24509a;
}
#footer-top iframe {
  width: 100%;
  height: 385px;
  transform: translateZ(0px);
  background-color: #ffffff;
  border: 0;
}
/** Google Map**/
/* line 125, ../../scss/_contact.scss */
.map #googleMap {
  min-height: 345px;
  -webkit-filter: gray;
  filter: gray;
  filter: grayscale(100%);
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
}
/* ================ Home end ========================= */
/* =====================
   contact page style
   ===================== */
#global-header {
  background: url(../img/contact-slider-img.jpg);
  background-size: cover;
  background-position: center;
  padding: 150px 0 90px;
  text-align: center;
  position: relative;
}
#global-header:before {
  position: absolute;
  z-index: 99;
  background: rgba(60, 59, 72, 0.69);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  z-index: 1;
}
#global-header .block {
  position: relative;
  z-index: 10;
  color: #fff;
}
#global-header .block h1 {
  font-size: 50px;
  margin-top: 20px;
}
#global-header .block p {
  font-size: 15px;
  padding-top: 10px;
  font-family:'Open Sans';
}

/* ================ Contact end ========================= */
/* =====================
   Service page style
   ===================== */
#client-logo {
  padding: 0 0 100px;
  text-align: center;
}
#client-logo a {
  padding: 14px 24px;
  display: block;
}
#client-logo a img {
  transition: 0.3s;
  margin: 0 auto;
}
#client-logo a:hover img {
  transform: scale(1.2);
}
footer {
  background: #202322;
  padding: 20px 0;
  text-align: center;
}
footer p {
  font-size: 14px;
  color: #fff;
  line-height: 1;
  padding-top: 26px;
}
/* =====================
   Blog Post
   ===================== */


#blog {
  padding:100px 0;
  background: #f1f1f1;
}
#blog-post .block {
  background: #fff;
  margin:0 5px;
}

#blog-post  .content {
  padding:30px 25px; 
  text-align: center;
}
#blog-post .content h4 {
  text-transform: capitalize;
  position: relative;
  margin: 20px 0 10px;
  padding: 10px 0;
}
#blog-post .content h4 a {
  color: #333;
}
#blog-post .content h4 a:hover {
 color: #24509a; 
}
#blog-post .content h4::before {
    content: '';
    position: absolute;
    left: 45%;
    top: -6px;
    width: 30px;
    height: 2px;
    background-color: #24509a;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}
#blog-post .content small {
  color: #999;
}
#blog-post .content p {
  margin-top: 10px;
  color: #777;
}
#blog-post .content .btn-read {
  background: #24509a;
  color: #fff;
  padding:10px 20px;
  font-size: 13px;
  margin-top: 15px;
  border-radius: 25px;
}

/* =====================
   Blog Page
   ===================== */



#blog-left{
  padding: 130px 0;
}

#blog-left .blog-img .col-md-12{
  margin-bottom: 4% ;
}

#blog-left .block{
      margin: 5.5% 0 ;
}

#blog-left .block span{
  display: block;
  margin: 3% 0 ;
  color: #333 ;
  font-size: 15px ;
  line-height: 22px ;
  /*font-family: 'Roboto', sans-serif;*/
}

#blog-left .block .first-child{
    margin: 5.5% 0 ;
}

#blog-left .block p{
    font-size: 13px;
    color: #888;
    line-height: 23px;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
    /*font-family: 'Roboto', sans-serif;*/
}

#blog-left .block blockquote{
    border-left: 0 none;
    margin-bottom: 30px;
    padding: 46px;
    background-color: #f6f6f6 ;
}

#blog-left .block blockquote p{
  margin: 0 0 5.5% ;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #626262;
}

#blog-left .block blockquote p:before{
    color: #333;
    content: "\f10d";
    font-family: "FontAwesome";
    font-size: 50px;
    margin-right: 10px;
}

#blog-left .block blockquote .footer{
  color: #000 ;
}

#blog-left .block blockquote .footer:before{
  content: '\2014 \00A0';
}

#blog-left .block .tags{
  margin: 0 0 6.5% ;
}

#blog-left .block .tags h5{
    font-size: 18px ;
    line-height: 27px ;
    color: #333 ;
}

#blog-left .block .tags a{
  font-size: 11px ;
  line-height: 20px;
  display: inline-block ;
  color: #272727;
  text-decoration: none;
}

#blog-left .block .blog-comment{
  padding: 5.5% ;
  background-color: #f6f6f6;
}

#blog-left .block .blog-comment .comment-img{
    float: left;
    margin-right: 35px;
    max-width: 100px;
}


#blog-left .block .blog-comment .comment-text a{
  color: #333;
  margin: 0 0 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
}

#blog-left .block .blog-comment .comment-text span{
  font-size: 11px;
  line-height: 20px;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  color: #626262;
  margin: 0 0 10px;
}


#blog-left .block .media-link{
  text-align: center;
  padding: 5.5% 0;
  border-bottom: 4px solid #24509a;
}

#blog-left .block .media-link a i{
    font-size: 24px;
    line-height: 28px;
    color: #373737;
    margin: 0 0 0 5.5%;
}

#blog-left .blog-comment-main{
  padding-bottom: 7%;
  margin-bottom: 7%;
  border-bottom: 4px solid #24509a;
}

#blog-left .blog-comment-main .blog-comment .comment-img{
    float: left;
    margin-right: 35px;
    margin-top: 10px;
    max-width: 100px;
}

#blog-left .blog-comment-main .comment-text{
  overflow: hidden;
}

#blog-left .blog-comment-main .comment-text .title,
#blog-left .blog-comment-main .comment-text span{
  color: #333;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0;
}

#blog-left .blog-comment-main .comment-text .title:after{
    content: "/";
    padding: 0 10px;
    font-weight: 500;
}

#blog-left .blog-comment-main .comment-text p{
  margin: 2% 0;
  font-size: 13px;
  color: #626262;
  line-height: 23px;
}

#blog-left .blog-comment-main .comment-text .btn{
  font-size: 9px;
  padding: 4px 12px 3px;
  border: 2px solid #24509a;
  color: #fff;
  display: inline-block;
  background-color: #24509a;
  width: auto;
  transition-duration:.2s;
  transition-timing-function:ease-in-out;
  -webkit-transition-duration: .2s;
  -webkit-transition-timing-function: ease-in-out;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600;
  letter-spacing: 1px;
}

#blog-left .blog-comment-main .comment-text .btn:hover{
  border: 2px solid #373737;
  color: #373737;
  background-color: transparent;
}

#blog-left .blog-comment-main .sub-blog-comment{
  margin: 30px 0 30px 40px;
  padding: 4% 0;
}

#blog-left .blog-comment-main .sub-blog-comment .comment-img{
    float: left;
    margin-right: 35px;
    margin-top: 10px;
    max-width: 100px;
}

#blog-left .addcomment span{
  margin: 0 0 5.5%;
  display: block;
  font-size: 18px;
  line-height: 27px;
  color: #333;
}

#blog-left .addcomment .blog-comment-form form input, textarea{
  padding: 18px 25px;
  border: 2px solid rgba(0,0,0,.1);
  font-size: 14px;
  height: auto;
  margin: 0 0 20px 0;
  border-radius: 0;
  transition: 0.8s;
}

#blog-left .addcomment .blog-comment-form form input:focus{
  border: 2px solid #24509a ;
  box-shadow: none;
}

#blog-left .addcomment .blog-comment-form form textarea{
  border-radius: 0;
  padding: 18px 25px;
  min-height: 100px;
  border: 2px solid rgba(0,0,0,.1);
}

#blog-left .addcomment .blog-comment-form form textarea:focus{
  box-shadow: none;
  border: 2px solid #24509a;
}

#blog-left .addcomment .blog-comment-form form button{
  font-size: 14px;
  padding: 10px 22px;
  letter-spacing: 1px;
  border: 2px solid #24509a;
  color: #fff;
  background-color: #24509a;
  transition-duration:.2s;
  transition-timing-function:ease-in-out;
  -webkit-transition-duration: .2s;
  -webkit-transition-timing-function: ease-in-out;
}

#blog-left .addcomment .blog-comment-form form button:hover{
  background-color: transparent;
  border: 2px solid #24509a;
  color: #24509a;
}

#blog-left .widget{
  margin: 0 0 10.5%;
}

#blog-left .widget form i{
    cursor: pointer;
    position: absolute;
    right: 19px;
    top: 12px;
    z-index: 998;
}

#blog-left .widget form input{
    color: #949494;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    letter-spacing: 1px;
    font-size: 11px;
    padding: 8px 15px;
    padding-left: 0;
    width: 100%;
    margin: 0 0 20px 0;
    max-width: 100%;
    resize: none;
    transition: 0.8s;
    font-family: 'Montserrat', sans-serif !important;
    letter-spacing: 1px;
    font-size: 11px;
}

#blog-left .widget form input:focus{
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
}

#blog-left .widget span{
  font-size: 15px;
  line-height: 22px;
  color: #333;
  display: block;
  margin-bottom: 7%;
  padding-bottom: 7%;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
#blog-left .widget span:before{
  content: "";
  position: absolute;
  bottom: 0;
  background: #24509a;
  width: 30px;
  height: 4px;
}

#blog-left .widget .widget-body ul li{
  border-bottom: 1px solid #e5e5e5;
  padding: 0 0 12px;
  margin-bottom: 10px;
  color: #ababab;
}

#blog-left .widget .widget-body ul li a{
  letter-spacing: 1px;
  display: block;
  font-size: 11px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333;
  font-family: "Montserrat",sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
}

#blog-left .widget .widget-body ul li .items{
  text-transform: none;
  font-weight: 600;
  font-size: 12px;
}

#blog-left .widget .widget-body ul li:last-child{
  border: 0;
}

#blog-left .widget .widget-body .title{
  margin: 0;
  margin-top: 11.5%;
  padding: 0;
  text-align: left;
}

#blog-left .widget .widget-body .title:before{
  display: none;
}

#blog-left .widget .widget-body p{
  font-size: 13px;
  color: #626262;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #626262;
}

#blog-left .sidebar-tags a{
  padding: 2px 10px;
  display: inline-block;
  color: #373737;
  margin: 0 8px 10px 0;
  background-color: #f6f6f6;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 20px;
  font-family: "Montserrat",sans-serif;
  letter-spacing: 0.02em;
}

#blog-left .sidebar-tags a:hover{
  background-color: #000;
  color: #fff;
  transition-duration:.2s;
  transition-timing-function:ease-in-out;
  -webkit-transition-duration: .2s;
  -webkit-transition-timing-function: ease-in-out;
}

/* CUSTOM STYLING */
body, h1, h2, h3, h4, h5, h6, p {font-family:'Open Sans';}
.nav>li>a {padding:10px calc(1vw + 5px);font-weight:600;color:#696969;}

/*SMOOTH FONT RENDERING CSS PAGE FADE IN*/
body {
  margin-top: 25px;
  font-size: 21px;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}
/* END FADE IN */

/* MORE CUSTOM CSS */
.barititle {
    color:#24509a;
    font-size: 35px;
    line-height:56px;
    font-weight:600;
    padding-bottom:20px;
}
#thank-you {margin-top:120px;}
.barilisty p {color:#24509A; font-size:18px; font-weight: 600;padding-bottom:30px;width:470px;}
.containery {width:600px;margin:0 auto;}

.barititlety {
  color:#24509a;
  font-size: 35px;
  line-height:56px;
  font-weight:600;
  padding-bottom:20px;
}
.baribg {
  background:url('../img/bg1.png');
  background-size:contain;
  background-position: 60px 50px;
  background-repeat:no-repeat;
  padding-bottom:150px;
}
.barilist {font-size:16px;line-height:27px;color:#000;font-weight:400;}

.barilist p {margin-bottom:10px;}

.barilist ul {margin-left:20px;margin-bottom:10px;}

.barilist li {list-style-type:disc;padding-bottom:10px;}
.container-nav {width:90%;margin-left:auto;margin-right:auto;padding:0 15px;}
#benefits {background-color:#e8edf6;padding:80px 0 40px 0;}
.p-text {padding-bottom:30px;font-size:20px;line-height:28px;}
.semibold {font-weight:600;}
.p-spacer {padding:10px 0px;}
.r-spacer {padding:30px 0px;}
.lg-text {color:#24509A; font-size:38px;font-weight:bold;line-height:48px;}
.lg-t {font-size:calc(1vw + 10px);font-weight:bold;line-height:48px;}
.lg-t2 {font-size:calc(1vw + 10px);font-weight:bold;line-height:calc(100% + 7px);}
.flex {display:flex;flex-wrap:wrap;text-align:left;font-size:calc(.5vw + 12px);}
.flex li {width:calc(40% + 110px);margin:0px auto;padding-left:4%;}
.pad-text {padding-bottom:20px;padding-left:20px;text-align:left;}
.benefits-checklist li:before {content:"";background:url('../img/badge-check.png');width:20px;height:20px;position:absolute;margin-left:-31px;margin-top:14px;} 
.r-text {font-size:calc(.72vw + 12px);font-weight:600;text-align:left;line-height:calc(1vw + 22px);padding-right:7%;}
.btn-request {font-size: 22px; font-weight:600;padding:20px 5vw;background-color:#24509A;color:white;background-image: none; }
.img-div {font-size:inherit;}
.img-fit {object-fit:cover;/*object-position:calc(-21vw + 80px) 80%; */height:32vw;/*width:calc(100%)*/}
.img-pos {position:absolute;right:0px;}
.blue {color:#24509A;}
.flex2 {display:flex;flex-wrap:wrap;text-align:left;font-size:16px;line-height:28px;}
.flex2 li {width:calc(20% + 110px);margin:0px auto;list-style-type:disc;}
.treatment-plan {font-size:15px;}
.treatment-plan p {margin:17px 0;}
.no-bullets {margin-left:-30px;}
.no-bullets li {list-style-type:none;}
.treatment-plan img {padding:0 30px;}
.cta-mbsaqip li:nth-of-type(2) {margin-top:30px;}
#why-chooseus {padding:60px 0;background-color:#eff4fd;}
footer {background:#24509A;}
#health-benefits:before {display:block;content:"";margin-top:-80px;height:80px;visibility:hidden;}
#chooseus:before {display:block;content:"";margin-top:-100px;height:100px;visibility:hidden;}
#eligibility:before, #contact-us:before {display:block;content:"";margin-top:-80px;height:80px;visibility:hidden;}
#assessment:before {display:block;content:"";margin-top:0px;height:0px;visibility:hidden;}
#location:before {display:block;content:"";margin-top:-40px;height:40px;visibility:hidden;}
#location:after {display:block;content:"";margin-top:-400px;height:400px;visibility:hidden;}
#requestreferral:before {display:block;content:"";margin-top:-100px;height:100px;visibility:hidden;}
#contact-us {padding:40px 0;}
#assessment + section {padding:100px 0 0 0;}
.contact-specialist img {width:100%;object-fit:cover;height:830px;object-position:top;}
.no-padding {padding:0 !important;}
.contact-div {padding-bottom:140px;}
.floating-form-2 {min-width:350px;}
.section-spacer {margin:150px 0;}
.footer-logo img {max-width:18  0px;height:auto;}
.footer-phone {color:#24509A;font-weight:bold;font-size:24px;padding:10px 0 0 0;}
.footer-phone img {max-width:30px; height:auto;text-align:left;}
.footer-nav {text-align:right;}
.footer-nav ul {font-size:11px;}
.footer-nav li {display:inline-block;padding:12px 0 0 10px;}
.btn.btn-default { background-color:#24509A; color:white; background-image: none; transition: 0.3s; } 
.btn.btn-default:hover { background-color: #16254D; }

/* blue block */
*[woodlands-block=showmap] h2 {font-size:20px;font-weight:600;line-height:24px;margin-bottom:20px;}
*[woodlands-block=showmap]{  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
  position: absolute;
  background: #24509A;
  display: block;
  width: 450px;
  height: 300px;
  right: 13%;
  margin-top:7%;
  color: #fff;
  padding: 50px 30px 30px 50px;
  font-size: 12px;
}
.btn.btn-default a {color:#fff;}
.btn.btn-directions {background-color:#fff;color:#24509A;line-height:0.5;max-height:100px;border-radius:2px;}
.btn-directions:hover {background-color: #16254D;color:#fff;}
.Table
{
    display: table;border-collapse: separate;border-spacing: 0px 10px;
}
.Title
{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.Heading
{
    display: table-row;
    font-weight: bold;
    text-align: center;
}
.Row
{
    display: table-row;
}
.Cell
{
    display: table-cell;
    border: none;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    font-size:14px;
}   
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {margin-right:30px;}
.contact-section{position:absolute;right:0;top:0px;}
.contact-section li {display:inline-block;}
.contact-phone {position: relative;padding-right:20px;font-size:16px;font-weight:bold;top:-11px;}
.contact-block {position: relative; background: #24509A;  padding: 16px 5px;  color: #fff;font-size:15px;max-height:80px;}
.contact-block a {color:#fff;font-weight:bold;}
.Cell img {max-width:16px;}
.row .cell:nth-of-type(1) {width:100px;}
.row .cell:nth-of-type(2) {width:550px;}

.navbar-right {margin-right:21vw;}
.navbar-fixed-ty {border-bottom:6px solid #24509a;top:0;padding:40px 0 0 0;}
.nav-ty {margin-top:-20px !important;}
.navbar-ty li {padding:0 20px;font-size:17px;font-weight:600; }
.navbar-ty li:nth-of-type(1) {margin-top:5px;}

.c-form {margin: 0 auto;padding:20px 25px;background:#24509a;color:#fff;line-height: 28px;}
.c-form h1 {font-weight:bold;font-size:32px;margin-bottom:20px;}
 #eligibility .feature-block p {color:#fff;font-size:16pt;line-height:28px;}
 .nav>li.active > a {color:#24509a;}
/* end blue block */
.bassessment, .thankyou-page {padding-top:60px;}

.contact-form-center {min-width:420px;}

.pre-footer {padding:80px 0 40px 0;}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) and (max-width: 1363px) {
.pre-footer .r-spacer {padding:70px 0;}
}

@media screen and (min-width: 768px) and (max-width: 1132px) {
  .bassessment, .thankyou-page {padding-top:100px;}
}

@media screen and (max-width: 1260px) {
  .nav>li>a {padding:10px .5vw;}
  .navbar-right {margin-right:17vw;}
  }

@media screen and (max-width: 1288px) {
.contact-phone {display:none !important;}
}
@media screen and (min-width: 1260px) and (max-width: 1288px){
  .nav>li>a {padding:10px 1vw;}
  .navbar-right {margin-right:14vw;}

}
/*
@media screen and (min-width: 800px) and (max-width: 1289px){
  .nav>li>a {padding:10px .2vw;}
  .navbar-right {margin-right:27vw;} 
}*/
@media screen and (min-width: 1289px) and (max-width: 1396px) {
    .nav>li>a {padding:10px .5vw;}
    .navbar-right {margin-right:24vw;}
}
@media screen and (min-width: 1900px) {
  .navbar-right {margin-right:16vw;}
}

@media screen and (max-width: 1131px) {
.navbar-right {margin-right:0vw;float:none !important;clear:both;}
.contact-section {float:right;}
.navbar-nav {position:relative;top:10px;}

}
@media screen and (min-width: 994px) and (max-width: 1131px) {
.contact-section {top:33px;}

}

@media screen and (min-width: 900px) {
  .contact-form {margin-top:-260px;max-width:350px;margin-left:3%;}
}


@media screen and (min-width: 1000px) {
  .floating-form-2 {position:absolute;margin:calc(-13vw - 430px) 0 0 20%;}
  .contact-form {max-width:450px;overflow:visible;margin-left:5%;}
}

@media screen and (max-width: 993px) {
.floating-form-2 {text-align:center;}
.nav>li>a {padding:10px calc(1vw + 0px);font-size:1.5vw}
.navbar-brand img {max-width:180px;margin-top:3px;}
#banner .block h1 {font-size:4vw;color:#fff;}
.barititlety, .barititle {font-size:30px;}
.barilist {font-size:14px;}
*[woodlands-block=showmap] {position:relative;margin-bottom:60px;text-align:center;margin:10px auto;right:0;width:100%;}
.footer-phone {font-size:18px;margin-left:10%;position:absolute;right:12%;} 
.footer-nav {clear:both;}
.contact-section {top:27px;}
}

@media screen and (max-width: 1199px) {
.img-fit {height:32vw;}
.contact-form {max-width:400px;overflow:visible;margin-left:0%;}


}

@media screen and (min-width: 1200px) {
  .contact-form {max-width:450px;overflow:visible;margin-left:5%;}
  }

@media screen and (max-width: 900px) {
  .img-fit {height:32vw;}
  .contact-form {max-width:350px;overflow:visible;margin-left:0%;}
  }

  /*Screen breaks at 767 */
@media screen and (max-width: 767px) {
  .contact-form-center {text-align:center;margin: 0 auto;}
    .img-fit {object-position:0 0;object-fit:contain;height:auto;width:100%;}
    .contact-form {max-width:100%;overflow:visible;margin:0 auto;}
    .barititle {font-size:38px;text-align:center;}
    .barilist {font-size:18px;padding-bottom:30px;}
    .r-text {padding-bottom:50px;}
    .lg-text {font-size:35px;padding-bottom:30px;text-align:center}
    .pad-text {text-align:center;}
    .flex li {padding-left:13.1%}
    .img-div {padding-top:30px;}
    .img-pos {position:relative;top:50px;z-index:-9999;}
    .section-spacer {margin:100px 0;}
    .contact-specialist img {height:640px;object-position:82% 80%;}
    .floating-form-2 {width:100%;}
    .nav>li>a {font-size:18px;}
    .contact-section {position:relative;font-size:16px !important;}
  .contact-block {padding:12px !important;}
  .contact-section {top:0px;}
  .bassessment, .thankyou-page {padding-top:150px;}
  .contact-block span {display:none;}
  .contact-block img {width:25px;}
  .contact-block {position:absolute;right:-20px;top:-45px;padding:8px !important;}
  .navbar-toggle {margin-right:35px;}
  .contact-block {border-radius:5px;}
    }

    @media screen and (max-width: 1025px) {
      #banner .block h1 {font-size:6vw}
    }

    @media screen and (max-width: 412px) {
      #banner .block {margin-top:-30%;}
      #banner .block h1:nth-of-type(2) {padding-bottom:40px;font-size:12vw;}
      #banner .block h1:nth-of-type(3) {font-size:7vw;}
      #banner {
        background-size: 1210px;
        padding: 400px 0;
        position: relative;
        background-position: top center;
        max-height: 804px;
        background-repeat: no-repeat;}
      .footer-logo img {max-width:100px;margin-left:10px;}
      .footer-phone {font-size:18px;margin-left:10%;position:absolute;right:10px;}  
      .footer-nav {margin-right:10px;}
      .barititle {font-size:32px;}
      #eligibility .feature-block p {font-size:15pt;}
      .baribg {padding-bottom:20px;}
      .p-text {font-weight:normal;font-size:18px;}
      h1.lg-t:nth-of-type(1) {line-height:27px;font-size:20px;}
      .btn-request {font-size:18px;}
      .r-text {font-size:calc(.72vw + 15px)}
      .lg-t2 {font-size:20px;line-height:26px;}
      .footer-nav {clear:both;}
      .containery {width:100%;}
      .barilisty p {width:100%;}
      .contact-form-center {min-width:300px !important;width:100% !important;}
      .pre-footer {padding:0px 0 0px 0;}
      .r-spacer {padding:0px}
      
    }